banner login # 
+------------------------------------------------------------------------+ 
{{ inventory_hostname }}
{% if 'RT01' in '{{ inventory_hostname }}' %}
Router configuration Template Version 1.5
QoS version {{ qos_version }}
{% endif %}
Only authorised persons are allowed to access this equipment 
Any unauthorised use is prohibited 
For support and help, please contact: 
{{ lob }} IT Support ({{ lob_email }})
 Phone {{ lob_phone }}
+------------------------------------------------------------------------+ 
# 

