---

ip domain-lookup source-interface {{ device_type | get_source_interface }}
ip domain-list {{ domain_list1 }}
ip domain-list {{ domain_list2 }}
ip domain-name {{ domain_name }}
ip name-server {{ dns_server1 }}
ip name-server {{ dns_server2 }}


