{% for item in interfaces -%}
!
!
{# Configuration common among all interfaces #}
interface {{ item.intf }}
  description {{ item.description }}
  {% if item.ip_address is defined -%}
  ip address {{ item.ip_address| ipaddr('address') }} {{ item.ip_address| ipaddr('netmask') }}
  {% else -%}
  no ip address
  {% endif %}


{# Common LAN and WAN interfaces configuration #}
{% if item.zone == 'wan' or item.zone == 'lan' %}
  speed {{ item.speed|default('auto') }}
  duplex {{ item.duplex|default('auto') }}
  ip route-cache flow 
  {% if item.bandwidth is defined -%}
  bandwidth {{ item.bandwidth }}
  {% endif -%}
  no shutdown
{%- endif %}

{# WAN interface configuration #}
{%- if item.zone == 'wan' %}
  max-reserved-bandwidth 100
  ip flow ingress
  ip flow egress
  ip nbar protocol-discovery 
  service-policy output qos-out 
{% endif -%}


{# LAN interface configuration #}
{%- if item.zone == 'lan' %}
  {%- if item.vlans is defined -%} 
{# Configure sub interfaces if they exist #}
  {%- for vlan in item.vlans -%}
!
!
interface {{ item.intf }}.{{ vlan.vlan_number| default('1') }}
  ip address {{ vlan.ip_address| ipaddr('address') }} {{ vlan.ip_address| ipaddr('netmask') }}
  description {{ vlan.description }}
  encapsulation dot1Q {{ vlan.vlan_number }} 
  service-policy input qos-in 
  {% if vlan.ip_helper is defined %}ip helper-address {{ vlan.ip_helper }}{% endif %}

{# If HA router setup add configuration on first iteration or VLAN (Primary VLAN) #}
  {% if ha_router %}{% if loop.first -%}
  standby {{ vlan.vlan_number }} ip {{ vlan.ip_address | ipaddr('address') }}
  standby {{ vlan.vlan_number }} preempt
  standby {{ vlan.vlan_number }} name HSRP-VLAN-{{ vlan.vlan_number }} 
  {% if device_id == 1 %}
  standby {{ vlan.vlan_number }} priority 90
  standby {{ vlan.vlan_number }} track 130 de 50
  {% endif %}{% endif %}{% endif %}
  {%- endfor -%}
  {% else %}
  sevice-policy input qos-in
  {% endif -%}
{% endif -%}

{% endfor %}
