ip cef
! 
! Policy-map placeholders.  Written over at config compilation
policy-map qos-child
policy-map qos-out

ip arp proxy disable

{% include "interfaces.j2" %}

{% include "routing.j2" %} 

{% include "netflow.j2" %}

{% include "qos.j2" %}