{% for protocol in routing_protocols %}

{% if protocol == 'rip' %}
!
router rip
redistribute static
version 2
passive-interface f0/1
network 10.0.0.0
distribute-list noroutesout out
default-metric 1
no auto-summary
{% endif %}
!
{% endfor %}
!
!
ip forward-protocol nd
ip route 0.0.0.0 0.0.0.0 {{ default_gateway }}
!
ip access-list standard noroutesout
deny 0.0.0.0
permit any
!